# Node / Vue
node_modules/
/dist/
build/
public/dist/
.vite/
.npm/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.env
.env.local
.env.*.local
.vscode/
.idea/
*.tgz

# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
*.egg-info/
build/
dist/
env/
venv/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.env*
